.home{
    margin-left: 5rem;
    .container{
        .titleContainer{
            display: flex;
            align-items: center;
            justify-content: space-between;
        .titleTextContainer{
            .title{
                font-family: Poppins;
                font-size: 36px;
                font-weight: 500;
                line-height: 54px;
                text-align: left;
            }
            .subtitle{
                font-family: Poppins;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
            }
        }
    }
    .graphAssessmentContainer{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        .graphContainer{
            box-shadow: 4px 4px 25px 0px #00000026;
            border-radius: 10px;
        }
        .assessmentContainer{
            background: linear-gradient(74deg, #0A66C2 6.27%, #5994CE 90.96%);
            box-shadow: 4px 4px 25px 0px #00000026;
            border-radius: 10px;
        }
    }
    .bigSectionContainer{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        .bigSectionSubContainer{
            width: 644px;
        }
    }
}
}