@import '../../style.scss';

.assessmentGridContainer{
    height: 100%;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    .gridLeft{
        .gridLeftContainer{
            .gridLeftWhiteBox{
                width: 8rem;
                height: 8rem;
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
            }
            .gridLeftCountContainer{
                .gridLeftCount{
                    font-family: Poppins;
                    font-size: 56px;
                    font-weight: 600;
                    line-height: 84px;
                    text-align: left;
                    color: #ffffff;
                }
            }
            .gridLeftTitleContainer{
                .gridLeftTitle{
                    font-family: Poppins;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 33px;
                    text-align: left;
                    color: #ffffff;
                }
            }
        }
    }
    .gridRight{
        display: flex;
        flex-direction: column;
        height: 100%;
        .gridRightImgContainer{
            height: 75%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            transform: translate(0rem, -2rem);
            @include mdLaptopSmall{
                transform: translate(0rem, 0rem);
            }            
        }     
        .gridRightButtonContainer{
            height: 25%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            @include mdLaptopSmall{
                // height: 20%;
                align-items: center;
            }
        }
    }
}