@import "../../style.scss";

.interviewTableContainer{
    border: 1px solid #d6d6d6;
    min-width: 65%;
    min-height: 20rem;
    display: flex;
    justify-content: space-between;

    @include lgLaptop{
        min-width: 100%;
    }
    .profileContainer{
        width: 33%;
        border-right: 1px solid #d6d6d6;
        display: flex;
        flex-direction: column;
        .profileTop{
            height: 70%;
            border-bottom: 1px solid #d6d6d6;
            display: flex;
            align-items: center;
            justify-content: center;
            .profileDesc{
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center; 
                .profileImg{
                    width: 6.5rem;
                    height: 6.5rem;
                    border-radius: 50%;
                } 
                .profileName{
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: center;
                    color: #091316;
                }
                .profilePosition{
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    text-align: center;
                    color: #091316;
                }
            }
        }
        .profileBottom{
            height: 30%;
            display: flex;
            .bottomLeft{
                width: 50%;
                border-right: 1px solid #d6d6d6;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 0.5rem;
                .bottomLeftText{
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    text-align: center;
                    color: #0A66C2;
                }
            }
            .bottomRight{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 0.5rem;
                .bottomRightText{
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    text-align: center;
                    color: #0A66C2;
                }
            }
        }
    }
    .levelContainer{
        width: 67%;
        border-right: 1px solid #d6d6d6;
        .levelTop{
            height: 60%;
            display: flex;
            flex-direction: column;
            .levelTopListContainer{
                height: 25%;
                border-bottom: 1px solid #d6d6d6;
            }
        }
        .levelBottom{
            height: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    }
}

.levelListContainer{
    display: flex;
    width: 100%;
    height: 100%;
    .leftLevel{
        width: 50%;
        border-right: 1px solid #d6d6d6;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rightlevel{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}